.form_group {
	width: 400px;
	margin: 25px;
}

.navbar-bottom {
    bottom: 0;
	background-color: #2ecc71;
	height:10%;
    width: 100%;
    left: 0;
}
body, html {
	height:95%; margin:0;
}
.container{
   min-height: 100%;
   position: relative;
   padding-bottom:20px;
   padding-top: 1%;
}
.navbar-fixed-bottom {
	background-color: #2ecc71;
	height:83px;
}

.logo {
	width: auto;
	height: auto;
}

body {
  padding-top: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.desc {
	width: 800px;
	font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
	font-weight: 300;
	line-height: 1.44em;
	margin-bottom:10%;
	text-align: justify;
}

.btn {
	margin-bottom:10px;
	margin-top: 10px;
}

.form-signin .form-signup {
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.menu {
	margin-left: 10px;
}

.content {
	margin-top: 30px;
}

.login-group {
	margin-bottom: 20%;
}
		
#editProfileForm {
	margin-right : 15%;
	margin-top: 4%;
}

.simple_form {
	width: 40%;
}

.simple_form input {
	margin-bottom: 5%;
}

.info {
	margin-top : 5%;
}

.form {
	width: 80%;
	margin: 2px auto;
}

.edit_child_form {
	padding-left: 10%;
	padding-top: 3%;
}

.form-signup input {
	margin-bottom: 5px;
}

.form-signup form-heading {
	margin-bottom: 10px;
}

.col-md-6 {
	padding-top: 10%;
}

.registration {
	margin-left: 30%;
	width: 900px;
}

.cover {
  object-fit: cover;
  height: 50px;
}

.logo {
	background-image: url('http://cs612117.vk.me/u59503884/docs/13f4436f9f33/logo1.png');
}

input {
	margin: 5px auto 15px;
}
.avatar{
	width: 470px;
	height: 470px;
}
.avatar_container{
	margin-left: 3%;
	position: absolute;
}
.my_page_info{
	margin-left: 38%;
}
.user_desc{
	width: 65%;
}
.about_me{
	height: 200px;
}
.my_name{
	font-family: 'Times New Roman';
	font-size: 40pt;
	width: 65%;
	margin: 0pt;
}
.calendar_container{
}
.drop_down{
	width:100pt;
}
/*
	My Tasks page
*/
.my-table{
	background-color: #FFFFFF;
}
.day:hover{
	cursor: pointer;
	background: #d9edf7;
}
.today{
	background: #ffff99;
}
.consist_task{
	background: #99ff99;
}